<div>
	<div class="jumbotron">
		<div class="container">
			<h1>Bihar Elections Dashboard!</h1>
			<p>This dashboard is to highlight major issues like voting
				patterns, seat distribution, party-wise statistics, etc.</p>
			<p>As per details from Census 2011, Bihar is the 3rd most
				populated state with a population of 10.41 Crores, an increase from
				figure of 8.30 Crore in 2001 census.
			<p>
				<a ui-sref="censusreport"
					class="btn btn-primary btn-lg btn-outline btn-rounded">
					Census Report
				</a>
				<a ui-sref="partiesreport"
					class="btn btn-primary btn-lg btn-outline btn-rounded">Party-wise
					Report
				</a>
            <a ui-sref="districtreport"
               class="btn btn-primary btn-lg btn-outline btn-rounded">Constituencies
                Report
            </a>
            <a ui-sref="electionsummary"
               class="btn btn-primary btn-lg btn-outline btn-rounded">Election
                Summary
            </a>
            <a ui-sref="voterssummary"
               class="btn btn-primary btn-lg btn-outline btn-rounded">Voters
                Summary
            </a>
			</p>
		</div>
	</div>
</div>
